.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #402efd;
    color: #fff;
    text-align: center;
    line-height: 1;
    margin-top: 100px;
}

footer {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

footer::before {
    content: '';
    position: absolute;
    display: block;
    width: 500px;
    height: 2px;
    left: 50%;
    margin-left: -250px;
    background: linear-gradient(to right,rgba(0,51,0,0) 0,#402efd 50%,rgba(0,51,0,0) 100%)
}

h4 {
    margin-top: 15px;
    color: #402efd;
}