table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    color: #fff;
    margin-top: 50px;
}

td, th {
    border: 1px solid #fff;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #402efd;
}

tr:nth-child(odd) {
    background-color: #332989;
}